#root {
  text-align: center;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.runtime{
  margin: inherit;
}
#inputName{
  width: 100%;
  height: 200px;
  font-size: 24px;
  text-align: center;
  margin-top: 120px;
  border:white solid 0px;
  background: gray;
  color: white;
}
.nb{
  padding: 0px
}
.time-call{
  margin-top:30px;
  margin-bottom: 20px;
}
.btn-info{
  background: gray;
  color: white;
  width: 100%;
  height: 100px;
  padding: 0;
  font-size: 1em;
  outline: none;
  border: black solid 0.5px;
  font-size: 24px;
}
#btn-dial{
  margin-top: 50px;
  width: 100px;
  height: 100px;
  background: green;
  color: #ffffff;
  margin: 20px;
  border-radius: 100px;
  font-size: 32px;
}
.hangup-off{
  position: absolute;
  bottom:50px;
}
.hangup{
  border-radius: 99px;
  background: red;
  height: 100px;
  width: 100px;
  font-size: 32px;
  margin-left: 230px;
}
.number-bot{
  position: absolute;
  bottom: 15px;
  width: 570px;
}

.hangup-call{
  position: absolute;
  bottom: 120px;
  width: 570px;
}
.icon-calling{
  border: blue solid 1px;
}
.fa{
  float: left;
  width: 150px;
  height: 150px;
  font-size: 36px;
  margin-top: 50px;
  margin-left: 30px
}
.call-phone{
  width: 600px;
  height: 100%;
  border:black solid 3px;
  position: relative;
  background: gray;
}
/*@media screen and (max-width: 600px) {
  .call-phone {
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .call-phone {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .call-phone {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .call-phone {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .call-phone {
    width: 100%;
  }
}*/